@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.container
{
	position: relative;
	width: 100%;
	height: 100vh;
	background: #23dd96;
	background-size: cover;
	display: flex;

}
.container .imgBx
{
	position: relative;
	width: 450px;
	height: 100%;
	background: url(bg.png);
	background-size: cover;
	animation: animate 40s linear infinite;
}
@keyframes animate
{
	0%,100%
	{
		background-position: left;
	}
	50%
	{
		background-position: right;
	}
}
.container .countdownBx
{
	display: flex;
	width: calc(100% - 450px);
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container h2
{
	text-align: center;
	font-size: 1.5em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 500;
    line-height: 4em;
}
.container h2 span
{
	font-size: 6em;
	font-weight: 700;
}
.container h2 span i
{
	font-style: initial;
	color: #ffff00;
}
.countdown
{
	margin: 30px;
	background: rgba(0,0,0,0.1);
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.countdown div
{
	position: relative;
	width: 100px;
	text-align: center;
	color: #fff;
	margin: 0 15px;
	margin-top: -25px;
	font-size: 2.5em;
	font-weight: 500;
}
.countdown div:before
{
	content: '';
	position: absolute;
	bottom: -30px;
	left: 0;
	width: 100%;
	height: 35px;
	color: #fff;
	font-size: 0.35em;
	line-height: 35px;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.countdown #day:before
{
	content: 'Days';
}
.countdown #hour:before
{
	content: 'Hours';
}
.countdown #minute:before
{
	content: 'Minutes';
}
.countdown #second:before
{
	content: 'Seconds';
}
.countdown #second,
.countdown #second:before
{
	color: #ffff00;
}

@media (max-width: 991px)
{
	.container .imgBx
	{
		display: none;
	}
	.container .countdownBx
	{
		width: 100%;
	}
}
@media (max-width: 600px)
{
	.container h2
	{
		font-size: 1.1em;
	}
	.countdown
	{
		height: 100px;
	}
	.countdown div
	{
	    width: 80px;
	    margin: 0;
    	margin-top: -20px;
	    font-size: 2em;
	}
}